<!-- Navigation Component -->
<nav class="navbar" id="navbar">
    <div class="navbar-container">
        <div class="navbar-brand">
            <a href="/" class="navbar-logo">
                <i class="fas fa-play-circle"></i>
                <span>DUYDODEE</span>
            </a>
        </div>
        
        <div class="navbar-menu" id="navbarMenu">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/" class="nav-link">หน้าหลัก</a>
                </li>
                <li class="nav-item">
                    <a href="/#series" class="nav-link">ซีรีส์</a>
                </li>
                <li class="nav-item">
                    <a href="/#movies" class="nav-link">หนัง</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle">
                        หมวดหมู่ <i class="fas fa-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="dropdown-link">แอคชั่น</a></li>
                        <li><a href="#" class="dropdown-link">โรแมนติก</a></li>
                        <li><a href="#" class="dropdown-link">สยองขวัญ</a></li>
                        <li><a href="#" class="dropdown-link">คอมเมดี้</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/admin" class="nav-link admin-link">
                        <i class="fas fa-user-shield"></i>
                        แอดมิน
                    </a>
                </li>
            </ul>
        </div>
        
        <div class="navbar-actions">
            <button class="search-btn" id="searchBtn">
                <i class="fas fa-search"></i>
            </button>
            <button class="mobile-menu-toggle" id="mobileMenuToggle">
                <i class="fas fa-bars"></i>
            </button>
        </div>
    </div>
</nav>
